In [1]:
import pandas as pd
import datetime as dt

In [2]:
internal = pd.read_csv("Internal.csv")
scrapping = pd.read_csv("Scrapping.csv")

In [5]:
#A
operaciones_internal = internal.groupby("vehicle_model_id").agg({"price":["mean","std"]})
operaciones_internal.columns = ["int_mean_price", "int_std_price"]
operaciones_scrapping = scrapping.groupby("vehicle_model_id").agg({"price":["mean","std"]})
operaciones_scrapping.columns = ["ext_mean_price", "ext_std_price"]
df_final = operaciones_scrapping.merge(operaciones_internal, how="outer", on="vehicle_model_id")
df_final

                  ext_mean_price  ext_std_price  int_mean_price  int_std_price
vehicle_model_id
1                   19505.465116    5845.471716    20078.250000    5798.055042
2                   18816.510204    5373.395141    20501.314286    6245.863488
3                   18997.257576    6335.407279    18966.424242    6094.858315
4                   18832.878049    5644.847833    19200.529412    6119.948096
5                   19572.711864    5738.358714    20377.661538    5425.257601
6                   20403.929825    6494.808979    19546.436364    5595.464790
7                   19138.159091    5865.163238    19276.192308    6275.801068
8                   18991.860465    5921.530841    19706.916667    5917.786769
9                   21621.633333    5309.819432    19847.081967    5716.994946
10                  20813.673469    6227.009520    19712.300000    6100.161250
11                  19757.075472    5001.238927    19848.384615    6239.829400
12                  19196.687500    6801.565124    20883.981818    6125.275917
13                  18101.106383    5106.950746    20643.962963    5733.869960
14                  20158.437500    5838.229059    19781.121622    5849.717946
15                  19904.854167    5698.046519    19677.081081    5711.666541
16                  20812.980769    6139.484664             NaN            NaN
17                  19964.219512    5294.491267             NaN            NaN
18                  20731.440000    6010.863543             NaN            NaN
19                  19258.962963    5590.808424             NaN            NaN
20                  21096.625000    6094.609312             NaN            NaN